*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html {
    font-size: 20px;
    background-image: linear-gradient(to right, #7da8da 0%, #e7f0fd 100%);
}
.img {
    width: 300px;
    height: 300px;
}
.container {
    min-height: 100vh; /*viewport height*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero {
    background-image: linear-gradient(to bottom, #6c9cd3 0%, #e7f0fd 100%);
    background-size: cover;
    background-position: top cover;
    position: relative;
}
#hero .hero {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10pc;
    justify-content: flex-start;
}
#hero::after{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    content: '';
    opacity: .7;
    z-index: -1;
}
#hero h1  {
    font-family: Cousine;
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    font-weight: 500;
    color: white;
    text-shadow: 0 2px 5px rgba(255, 255, 255, .8)
}
.section-title {
    font-family: Cousine;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}
p {
    font-family: Cousine;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.card-title {
    font-family: Cousine;
    font-size: 1rem;
}
.card-text {
    font-family: Cousine;
    font-size: 0.75rem;
}
a {
    font-family: Cousine;
    margin-top: auto;
}
.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
.card-img-top {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
}
.button {
    display: inline-block;
    padding: 5px 20px;
    font-size: 1rem;
    margin-top: 30px;
    transition: .3s ease;
    border: 2px solid #7da8da;
    color: #7da8da;
    margin-top: 0.5rem;
}
.button:hover {
    background-color: #7da8da;
    border: 2px solid #7da8da;
    color: white;
    text-decoration: none;
}
#technical-skills {
    text-align: center;
}
.style {
    color: white;
}
.nav-item {
    color: rgba(255, 255, 255, 0.9) !important;
    text-shadow: 0 2px 5px rgba(255, 255, 255, .7);
    font-size: 0.75rem;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-item:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}
.bgcolor {
    background: transparent !important;
    transition: 0.5s ease;
}
.bgcolor.scrolled {
    background-color: #7da8da !important;
}
.contact-card-text {
    font-family: Cousine;
    font-size: 0.70rem;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7da8da;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  ul {
      list-style-type: none;
      font-family: Cousine;
      font-size: 1rem;
  }
  .card-wrapper {
      height: 400px;
      width: 300px;
      perspective: 1000px;
  }
  .content {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
  }
  .card-wrapper:hover .content {
      transform: rotateY(180deg);
      transition: 1s;
  }
  .face-front, .face-back {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: white;
      color: black;
  }
  .face-back {
      transform: rotateY(180deg);
    }
    .flex-item {
        margin: 5px;
      }
    